{# Plantilla base de la aplicación#}
{% extends 'base.html.twig' %}
{% block title %}Tapa{% endblock %}
{% block body %}

<!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Categorias</h1>


    <!-- Portfolio Item Row -->
    <div class="row">

      <div class="col-md-8">
        <img class="img-fluid" src="{{ asset(tapas~categoria.foto) }}" alt="{{categoria.nombre}}" width="750" height="500">
      </div>

      <div class="col-md-4">
        <h3 class="my-3">{{categoria.nombre}}</h3>
        <p>{{categoria.descripcion}}</p>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

{% endblock %}
